body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 400px;
  padding-bottom: 200px;
}

.nav li:hover {
  background-color: lightgray;
  cursor: pointer;
  color: black;
}

.nav li {
  display: inline-block;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  background-color: rgb(48, 48, 48);
}

.message {
  background-color: steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 18px;
}

.save {
  background-color: green;
}

.error {
  background-color: red;
}
