body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 400px;
  padding-bottom: 200px;
}

.nav li:hover {
  background-color: lightgray;
  cursor: pointer;
  color: black;
}

.nav li {
  display: inline-block;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  background-color: rgb(48, 48, 48);
}

.message {
  background-color: steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 18px;
}

.save {
  background-color: green;
}

.error {
  background-color: red;
}

.comment {
  padding-bottom: 35px;
}

.comment h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment h4 {
  margin-top: 0;
}

.comment p {
  font-size: 14px;
  line-height: 150%;
}

.comment-date {
  color: grey;
  font-weight: 500;
  font-size: 14px;
}

.comment-domain {
  font-weight: 300;
}